@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#040a18] text-slate-100;
    background-image: linear-gradient(rgba(0, 240, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 240, 255, 0.03) 1px, transparent 1px);
    background-size: 30px 30px;
  }
}

@layer utilities {
  .neon-border {
    @apply border border-cyan-500/50 shadow-[0_0_10px_rgba(6,182,212,0.3)];
  }
  .neon-text {
    @apply text-cyan-400 drop-shadow-[0_0_5px_rgba(6,182,212,0.8)];
  }
  .glass-panel {
    @apply bg-[#0b152a]/80 backdrop-blur-md;
  }
}

@layer components {
    .animate-dash {
        stroke-dasharray: 10, 10;
        animation: dashFlow 20s linear infinite;
    }
}

@keyframes dashFlow {
    to {
        stroke-dashoffset: -1000;
    }
}
